import * as React from 'react';
import { ResponsiveImage } from '../../src/ResponsiveImage/ResponsiveImage';
import { EfficientImageSize } from '../../src/ResponsiveImage/ResponsiveImageSrcSet';

{{imageImports}}

export const Image = () => (
  <ResponsiveImage<EfficientImageSize>
    alt=""
    sizes=""
    srcSet={ {{srcSet}} }
  />
)
