import * as React from 'react';
import { ResponsiveImage } from 'react-responsive-art';

{{{imageImports}}}

const srcSet = {
 {{srcSet}} 
}

export const Image_{{fileName}} = () => (
  <ResponsiveImage<{{sizes}}>
    alt=''
    sizes=''
    srcSet={srcSet}
  />
)
